{{define "gshow"}}
<div class="row">
  <div class="col-md-12">
    <h1>{{.Title}}</h1>
    <p>Images coming soon...</p>
  </div>
</div>
{{end}}

<!---->

{{define "show"}}
<!DOCTYPE html>
<html lang="en">
  {{template "header" .}}
  <body>
    {{template "navbar" .}}
    <div class="container-fluid">
      {{if .Alert}} {{template "alert" .}} {{end}}
      <!---->
      {{template "gshow"}}
      <!---->
      {{template "footer" .}}
    </div>

    <!-- jquery & Bootstrap JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
{{end}}
